<section id="about">
  <div class="container">
    <div class="about about-photo">
      <%= image_tag 'https://res.cloudinary.com/emzys2001/image/upload/c_scale,w_500/v1624196210/about1profilephoto_mqnljd.jpg', class: 'about-img', alt: 'Profile photo' %>
    </div>
    <div class="about about-text">
      <h1 class="display-4 hi-header">
        <span>Hi, I'm Emilia</span>
        <span>
          <a href="https://www.linkedin.com/in/emzysk/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/emzys" target="_blank"><i class="fab fa-github-square"></i></a>
        </span>
      </h1>
      <p>Welcome to my portfolio page.</p>
      <p>I'm a full-stack web developer with a particular interest in front end.</p>
      <p>My goal is to continue exploring new technologies and further develop my skills while working on innovative projects. I want to contribute to making the web a user-friendly space for everyone to enjoy.</p>
      <%# <p>日本語も話せます。👌🏻</p> %>
      <div class="social">
        <a href="https://www.linkedin.com/in/emzysk/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/emzys" target="_blank"><i class="fab fa-github-square"></i></a>
      </div>
    </div>
  </div>

  <div class="underline"></div>

  <div class="container right-to-left">
    <div class="about about-photo">
      <%= image_tag 'skills.png', class: "about-img", alt: "Skills section" %>
    </div>

    <div class="about about-text">
       <h2>My tech stack</h2>

      <div class="skills-icons row text-center">
        <div class="col-4 col-sm-3 col-md-2">
          <p class="upper"><i class="far fa-gem"></i></p>
          <p>Ruby</p>
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <p class="upper"><i class="fas fa-database"></i></p>
          <p>SQL</p>
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <p class="upper"><i class="fab fa-html5"></i></p>
          <p>HTML</p>
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <p class="upper"><i class="fab fa-css3-alt"></i></p>
          <p>CSS</p>
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <p class="upper"><i class="fab fa-sass"></i></p>
          <p></p>
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <p class="upper"><i class="fab fa-js"></i></p>
          <p>JavaScript</p>
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <p class="upper">jQuery</p>
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <p class="upper"><i class="fab fa-bootstrap"></i></p>
          <p>Bootstrap</p>
        </div>
        <%# <div class="col-4 col-sm-3 col-md-2">
          <p class="upper">RWD</p>
        </div> %>
        <div class="col-4 col-sm-3 col-md-2">
          <p class="upper"><i class="fab fa-react"></i></p>
          <p>ReactJS</p>
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <p class="upper"><i class="fab fa-git"></i></p>
        </div>
        <div class="col-4 col-sm-3 col-md-2">
          <p class="upper"><i class="fab fa-github"></i></i></p>
          <p>GitHub</p>
        </div>
      </div>
    </div>

  </div>
  <div class="underline"></div>
</div>
</section>
