<section id="about">
  <div class="container">
    <div class="about about-photo">
      <%= image_tag 'https://res.cloudinary.com/emzys2001/image/upload/c_scale,w_500/v1624196210/about1profilephoto_mqnljd.jpg', class: 'about-img', alt: 'Profile photo' %>
    </div>
    <div class="about about-text">
      <h1 class="display-4">Hi, I'm Emilia.</h1>
      <p>Welcome to my profile page. I’m an aspiring programmer.</p>
      <p>I decided to join the <a href="https://www.lewagon.com/tokyo/web-development-course/full-time">Le Wagon Web Development course in Tokyo</a> because I like learning new things and programming seemed like a never-ending study that I might enjoy. </p>
      <p>So far it feels like I made the right choice ♥︎</p>
    </div>
  </div>
</section>
