<footer id="contact">
  <%# <div class="jumbotron jumbotron-fluid"> %>
    <div class="contact">
      <div class="contact-text text-center">
        <h2>Contact me:</h2>
        <div class="social-media">
          <a href="https://www.linkedin.com/in/emzysk/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/emzys" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>
        <p>E-mail me at:</p>
        <p>emzysk.dev@gmail.com</p>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © <%= Date.today.strftime('%Y') %> Emilia Zyśk</p>
    </div>
  <%# </div> %>
</footer>
