<div class="banner" id="home">
  <header>
    <div class="header-text">
      <h1 class="animate__animated animate__fadeIn animate__delay-1s">Emilia Zy<span class="polish-letter">ś</span>k</h1>
      <h1 class="animate__animated animate__fadeIn animate__delay-1s">Full-Stack</h1>
      <h1 class="animate__animated animate__fadeIn animate__delay-1s">Web Developer</h1>
    </div>
    <%= image_tag 'https://res.cloudinary.com/emzys2001/image/upload/e_blur:150/v1624119291/img_1720_sdgbij.jpg' %>
    <a href="#about" class="arrow"><i class="fas fa-chevron-down animate__animated animate__bounce animate__delay-1s animate__repeat-3 animate__slower"></i></a>
  </header>
</div>
