<header>
  <div class="header-text">
    <p>Emilia Zyśk</p>
    <p>Full-Stack</p>
    <p>Web Developer</p>
  </div>
  <%= image_tag 'https://res.cloudinary.com/emzys2001/image/upload/v1624119291/img_1720_sdgbij.jpg' %>
</header>
