<nav class="navbar navbar-expand-lg fixed-top " id="navbar">
  <a class="navbar-brand" href="#">
    <span data-z data-z-layers="3" data-z-depth="0.5em">
      <i class="fas fa-dot-circle"></i>
    </span>
    <%# <i class="fas fa-eye"></i> %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto text-right">
      <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <!-- span with (current) is used for subpages -->
      <a class="nav-item nav-link" href="#about">About Me</a>
      <a class="nav-item nav-link" href="#projects">Projects</a>
      <a class="nav-item nav-link" href="#contact">Contact</a>
    </div>
  </div>
</nav>
