<section id="projects">
  <div class="projects-container">
  <h1 class="display-4 text-center">Selected projects</h1>

    <%# KYORO %>
    <div class="project-item">
      <h2 class="project-small-device-header">Kyoro | Team morale monitoring tool</h2>
      <div class="project-img">
        <div class="device device-macbook-pro device-spacegray">
          <div class="device-frame">
          <%# image_tag 'https://res.cloudinary.com/emzys2001/image/upload/e_blur:150/v1624119291/img_1720_sdgbij.jpg', class: "device-content" %>
          <%= image_tag 'kyoro.png', class: "device-content" %>
          </div>
          <div class="device-stripe"></div>
          <div class="device-header"></div>
          <div class="device-sensors"></div>
          <div class="device-btns"></div>
          <div class="device-power"></div>
        </div>
      </div>
      <div class="project-item-text">
        <h2 class="project-large-device-header">Kyoro | Team morale monitoring tool</h2>
        <p>
          <i class="devicon-rails-plain"></i>
          <i class="fab fa-html5"></i>
          <i class="fab fa-sass"></i>
          <i class="fab fa-js"></i>
          <i class="fab fa-bootstrap"></i>
          <i class="devicon-postgresql-plain"></i>
          <i class="fab fa-git-alt"></i>
          <i class="fab fa-github"></i>
          <i class="devicon-heroku-plain"></i>
          <i class="fab fa-figma"></i></p>
        <p>Kyoro is a tool that helps managers keep track of their team's engagement level and mental health (individual as well as overall) thanks to Slack integration and feedback analysis, so that they can react quickly and meet their team's needs. Much needed in the era of remote work.</p>
        <p>Built by a team of 4 developers during a 10 day product spring.</p>
        <%# <p>View on:</p> %>
        <div class="btn-group">
          <button class="btn">
            <a href="https://github.com/Castlekeeper19/kyoro"
                      target="_blank">GitHub</a>
          </button>
          <button class="btn">
            <a href="http://www.kyoro.me/"
                      target="_blank">Live</a>
          </button>
        </div>
      </div>
    </div>

    <%# CONNECTRAINER %>
    <div class="project-item right-to-left">
      <h2 class="project-small-device-header">ConnecTrainer | Personal trainer booking platform</h2>
      <div class="project-img">
        <div class="device device-macbook-pro device-spacegray">
          <div class="device-frame">
          <%# image_tag 'https://res.cloudinary.com/emzys2001/image/upload/e_blur:150/v1624119291/img_1720_sdgbij.jpg', class: "device-content" %>
          <%= image_tag 'connectrainer.png', class: "device-content" %>
          </div>
          <div class="device-stripe"></div>
          <div class="device-header"></div>
          <div class="device-sensors"></div>
          <div class="device-btns"></div>
          <div class="device-power"></div>
        </div>
      </div>
      <div class="project-item-text">
        <h2 class="project-large-device-header">ConnecTrainer | Personal trainer booking platform</h2>
        <p>
          <i class="devicon-rails-plain"></i>
          <i class="fab fa-html5"></i>
          <i class="fab fa-sass"></i>
          <i class="fab fa-js"></i>
          <i class="fab fa-bootstrap"></i>
          <i class="devicon-postgresql-plain"></i>
          <i class="fab fa-git-alt"></i>
          <i class="fab fa-github"></i>
          <i class="devicon-heroku-plain"></i>
          <i class="fab fa-figma"></i></p>
        <p>ConnecTrainer is a platform where users can book a workout session with a trainer, or become trainers themselves and offer their services to customers. </p>
        <p>Built by a team of 4 developers during a 5 day product spring.</p>
        <%# <p>View on:</p> %>
        <div class="btn-group">
          <button class="btn">
            <a href="https://github.com/rkam808/ConnecTrainer"
                      target="_blank">GitHub</a>
          </button>
          <button class="btn">
            <a href="https://connectrainer.herokuapp.com/"
                      target="_blank">Live</a>
          </button>
        </div>
      </div>
    </div>

    <%# NOTICEBOARD %>
    <div class="project-item">
      <h2 class="project-small-device-header">NoticeBoard | Message posting web application</h2>
      <div class="project-img">
        <div class="device device-macbook-pro device-spacegray">
          <div class="device-frame">
          <%# image_tag 'https://res.cloudinary.com/emzys2001/image/upload/e_blur:150/v1624119291/img_1720_sdgbij.jpg', class: "device-content" %>
          <%= image_tag 'notice-board.png', class: "device-content" %>
          </div>
          <div class="device-stripe"></div>
          <div class="device-header"></div>
          <div class="device-sensors"></div>
          <div class="device-btns"></div>
          <div class="device-power"></div>
        </div>
      </div>
      <div class="project-item-text">
        <h2 class="project-large-device-header">NoticeBoard | Message posting web application</h2>
        <p>
          <i class="fab fa-react"></i>
          <i class="fab fa-node-js"></i>
          <i class="fab fa-html5"></i>
          <i class="fab fa-sass"></i>
          <i class="devicon-materialui-plain"></i>
          <i class="fab fa-git-alt"></i>
          <i class="fab fa-github"></i></p>
        <p>NoticeBoard lets users create and post messages or notices on a
public notice board. The main focus was directed on the front end.</p>
        <%# <p>View on:</p> %>
        <div class="btn-group">
          <button class="btn">
            <a href="https://github.com/emzys/noticeboard-app"
                      target="_blank">GitHub</a>
          </button>
          <button class="btn">
            <a href="https://afternoon-inlet-58056.herokuapp.com/"
                      target="_blank">Live</a>
          </button>
        </div>
      </div>
    </div>

    </div>


</section>



