<section id="projects">
  <div class="container">
    <div class="device device-macbook-pro device-spacegray">
      <div class="device-frame">
      <%= image_tag 'https://res.cloudinary.com/emzys2001/image/upload/e_blur:150/v1624119291/img_1720_sdgbij.jpg', class: "device-content" %>
        <%# <img class="device-content" src="src/img/bg-06.jpg"> %>
      </div>
      <div class="device-stripe"></div>
      <div class="device-header"></div>
      <div class="device-sensors"></div>
      <div class="device-btns"></div>
      <div class="device-power"></div>
    </div>
  </div>
</section>



