.about {
    padding: 15px;
  }

.about-text {
  text-align: center;

  p:last-of-type {
    margin: 0;
    // text-align: right;
  }

  h2 {
    font-size: 40px;
    margin: 16px 0 0;
  }

  .hi-header {
    display: flex;
    justify-content: center;
    a {
      display: none;
      color: $theme-dark;
      font-size: 48px;
      margin-left: 8px;
      transition: color .3s, text-shadow .3s;

      &:hover {
        color: $theme-green;
        text-shadow: 1px 1px 2px $theme-dark;
      }
    }
  }

  .social {
    display: flex;
    justify-content: center;
    a {
      display: block;
      padding: 24px 8px 0;
      color: $theme-dark;
      font-size: 48px;
      margin-left: 8px;
      transition: color .3s, text-shadow .3s;

      &:hover {
        color: $theme-green;
        text-shadow: 1px 1px 2px $theme-dark;
      }
    }
  }
}

.about-img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

.skills-icons {
  align-items: center;

  p {
    font-size: 12px;
  }

  .upper {
    margin: 30px auto 0;
    font-weight: bold;
    font-size: 20px;

    i {
      font-size: 40px;
    }
  }
}


@media (min-width: 768px) {
  .about {
    padding: 30px;
  }

  .about-text {
    h2 {
      font-size: 48px;
      margin: 0 0 8px;
    }
  }
}

@media (min-width: 922px) {
  .about-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;

    .about-img {
      height: 250px;
      width: 250px;
    }
  }

  .about-text {
    width: 65%;
    text-align: left;

    h2 {
      text-align: center;
    }

    .hi-header {
      justify-content: space-between;
      a {
        display: inline-block;
      }
    }

    .social {
      a {
        display: none;
      }
    }
  }
}
