// .about {
  //   padding: 15px;
  // }

.right-to-left{
  flex-direction: row-reverse;
}

.about-text {
  p:last-of-type {
    margin: 0;
    // text-align: right;
  }

  h1 {
    display: flex;
    justify-content: space-between;
    a {
      color: $theme-dark;
      font-size: 48px;
      margin-left: 8px;
      transition: color .3s, text-shadow .3s;

      &:hover {
        color: $theme-green;
        text-shadow: 1px 1px 2px $theme-dark;
      }
    }
  }
}

.about-img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

.skills-icons {
  align-items: center;

  p {
    font-size: 12px;
  }

  .upper {
    margin: 30px auto 0;
    font-weight: bold;
    font-size: 20px;

    i {
      font-size: 40px;
    }
  }
}


@media (min-width: 768px) {
  // .about {
  //   padding: 30px;
  // }

  .about-img {
    height: 250px;
    width: 250px;
  }
}

@media (min-width: 768px) {
  .about-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
  .about-text {
    width: 65%;
  }
}
