.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 2560px;
  padding: 100px 20px;
}

@media (min-width: 922px)  {
  .container {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }

  .right-to-left {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 70%;
  }
}
