.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 2560px;
  padding: 70px 20px;
}

@media (min-width: 992px)  {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 70%;
  }
}
