.arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);

}

.fa-chevron-down {
  animation: bounce 1.6s infinite;
  padding: 20px;
  font-size: 25px;
  color: $theme-dark;
  transition: color .3s;
}


.fa-chevron-down:hover {
  color: $light-gray;
}
