.navbar {
  justify-content: space-between;
  background: transparent;

  .navbar-collapse {
    flex-grow: 0;
  }
}


nav {
  text-transform: uppercase;
  transition: background-color .3s;
}

nav a, nav i {
  padding: 0 10px;
  color: $light-gray;
  transition: color .3s;
}

.navbar-brand i {
//  color: cadetblue;
  color: $theme-green;
}

nav a:hover, nav i:hover {
  color: $theme-green;
  text-shadow: 2px 2px 3px black;
}

nav .active {
  color: $theme-green;
}

// nav i {
  //   font-size: 28px;
  // }

nav .navbar-nav {
  font-size: 17px;

  // a {
  //   text-shadow: 2px 2px 3px black;
  // }
}

.bg-scroll {
  // background-color: $theme-dark;
  background-color: rgba(0,0,0,.8);
}

.z-text {
	transform: rotateY(15deg);
	transition: transform 1s;
}

// .z-layer:not(:first-child) {
// 	color: #b73229;
// }


// .z-layer:nth-child(1) {
// 	color: #ffc107;
// }

// .z-layer:nth-child(2) {
// 	color: #4caf50;
// }

// .z-layer:nth-child(3) {
// 	color: #3f51b5;
// }

@media (min-width: 768px) {
  nav {
    .navbar-nav {
      font-size: 28px;
    }
  }
}
